name: Tests

on:
  - push
  - pull_request

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, macos-14]  # windows-latest
        python-version: ['3.12']
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install tox tox-gh-actions
    - name: Show repo contents
      run: |
        ls -R cse3150_jimmy_padilla_calculator/
    - name: Build and inspect package
      run: |
        python -m pip install build
        python -m build --sdist --wheel
        echo "=== Contents of wheel ==="
        unzip -l dist/*.whl
        echo "=== Contents of sdist ==="
        tar -tzf dist/*.tar.gz 
    - name: Test with tox
      run: tox
